.heading-title-tooltip {
  cursor: help;
  display: flex;
  & .bp3-icon {
    color: var(--gmx-yellow-2);
    margin-left: 2px;
    width: var(--font-sm);
  }
}

.cp-section.cp-default-with-tooltip-without-sources-section .bp3-transition-container {
  width: 450px;
}

.cp-section.cp-default-with-tooltip-without-sources-section .bp3-transition-container.bp3-popover-enter-done {
  width: 650px;
  z-index: 100;
  & p {
    font-size: var(--font-sm);
  }
  & a {
    color: var(--gmx-yellow-1);
    text-decoration-color: var(--gmx-yellow-1);
  }
}

.bp3-tooltip {
  z-index: 100;
}

.cp-default-with-tooltip-without-sources-section-paragraph {
  & .custom-data-source {
    color: var(--dark-1);
    font-family: var(--base-font-stack);
    font-size: var(--font-xs);
    font-weight: var(--base-font-weight);
    letter-spacing: var(--base-letter-spacing);
  }

  & .custom-data-source-link {
    color: var(--accent-dark);
    font-family: var(--base-font-stack);
    font-size: var(--font-xs);
    font-weight: var(--base-font-weight);
    letter-spacing: var(--base-letter-spacing);
    text-decoration: underline;
  }
}
