@import "helpers/mixins.css";

.tile-v2-container {
  border: 1px solid var(--dark-4);
  border-radius: 12px;
  height: 8rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 0.75rem;
  &.tile-v2-layout-full-width {
    width: 100%;
  }
  &.tile-v2-layout-cols {
    text-align: left;
    margin: 0.75rem;
    width: 23%;
    margin: var(--gutter-xs);
    @mixin max-xl {

    }
    @mixin max-lg  {
      width: 30%;
    }
    @mixin max-md  {
      width: 47%;
    }
    @mixin max-sm  {
      width: 100%;
    }
    @mixin max-xs  {

    }
    @mixin max-xxs{

    }
  }
  &:hover {
    border-color: var(--dark-1);
    transition: 0.15s ease-out;
    & .tile-background {
      transform: scale(1.05);
    }
  }
  & .tile-link {
    & .tile-content {
      display: flex;
      padding: var(--gutter-sm);
      position: absolute;
      width: -moz-available;
      z-index: 2;
      align-items: center;
      vertical-align: middle;
      height: 100%;
      & .tile-content-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        color: var(--white);
        height: 100%;
        text-shadow: 2px 2px 2px rgba(0,0,0,1);

        & .image-content {
          display: flex;
          flex-direction: row;

          & .tile-content-tag {
            max-width: var(--gutter-md);
            max-height: var(--gutter-md);
            margin-right: var(--gutter-xs);
          }
        }

        & .description-content {
          & .tile-content-description-title {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            margin-bottom: calc(var(--gutter-xs) / 2);
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
          }

          & .tile-content-description-level {
            font-size: calc(var(--font-xxxs) + 0.1rem);
            font-weight: var(--base-font-weight);
            text-transform: uppercase;
          }
        }
      }
    }
    & .tile-background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      transition: transform 0.3s ease-out;
      width: 100%;
      z-index: -1;
      &::before {
        @mixin absolute-expand;
        display: block;
        content: "";
        z-index: 1;
        background-image: linear-gradient( to bottom, rgba(22, 28, 44, 0.5), rgba(22, 28, 44, 0.3) 10%, rgba(22, 28, 44, 0.5) 50%);
      }
    }
  }
  & .tile-background-color {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
