@import "helpers/mixins.css";

.cp-hero {
  background-color: var(--dark-3);
  position: relative;
  padding-bottom: 0; /* bring closer to about section */
  z-index: 1;

  /* set text shadow for all children based on font size */
  & .cp-hero-caption {
    @mixin text-shadow;
    display: flex;
    flex-wrap: wrap;
    & .cp-hero-heading-wrapper, & .cp-hero-stat-group-wrapper {
      flex: 1;
      min-width: 250px;
      gap: var(--gutter-xs);
    }

    & .cp-hero-heading-wrapper {
      margin-bottom: var(--gutter-md);
      padding-right: var(--gutter-md);
      & .cp-hero-heading {
        margin-bottom: 10px;
        /*display: flex;*/
        & img {
          height: 60px;
          margin-bottom: 7px;
          margin-right: 0px;
          vertical-align: middle;
          width: 60px;
        }
      }
      & .cp-hero-heading-dimension {
        padding: 0px 5px;
        box-shadow: 0 2px 0 var(--white);
        text-decoration: none;
        font-weight: 300;
        margin-bottom: 10px;
        /*overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;*/
      }

      @mixin min-sm {
        max-width: 100%;
      }
      & .cp-hero-heading {
        text-align: left;
      }
      & .cp-hero-subhead {
        text-align: left;
        background-color: var(--gmx-red-2);
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
      }

      & .cp-comparison-add {
        margin-top: var(--gutter-xs);
        text-align: left;
        & .cp-comparison-search-container {
          margin-right: 0 !important;
          text-shadow: none;
          & ~ .bp3-button {
            border-radius: 0 3px 3px 0;
          }
        }
        & .cp-input {
          background-color: var(--dark-2);
          border: 0;
          border-radius: 3px 0 0 3px;
          box-shadow: none;
          color: var(--white);)
          height: inherit;
          &:focus {
            outline: none;
          }
        }
        & .bp3-button {
          background-color: var(--gmx-yellow-2);
          background-image: none;
          border-radius: 3px;
          box-shadow: none;
          color: var(--white);
          font-family: var(--base-font-stack);
          font-size: 14px;
          font-weight: var(--base-font-weight);
          letter-spacing: var(--base-letter-spacing);
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: var(--gmx-red-1);
          }
          & .bp3-icon {
            color: var(--white);
          }
        }
      }
    }

    & .cp-hero-stat-group-wrapper {
      & .cp-hero-stat {
        text-align: left;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        & .cp-stat-subtitle {
          font-size: var(--font-xs);
          text-transform: uppercase;
          margin: 5px auto 2px 0;
          max-width: 160px;
          line-height: var(--font-md);
        }
        & .cp-stat-label {
          & .cp-stat-label-text {
            font-weight: 700;
            justify-content: left;
            margin: 0;
            padding-left: 0px;
          }
        }
        &:first-child {
          padding-left: 0rem;
        }
        & .cp-stat-label {
          background-color: var(--gmx-red-2);
          width: fit-content;
          padding: 4px 8px;
          border-radius: 5px;
          & .cp-stat-label-text {
            font-size: var(--font-xxs);
          }
        }
      }
    }
  }

  & .cp-hero-heading {
    @mixin font-xxl;
    line-height: 1.25;
  }

  & .cp-hero-inner {
    z-index: 12;
  }

  & .cp-stat-label-text {
    line-height: 1.5;
  }

  & .cp-hero-stat-group-wrapper {
    width: calc((var(--stat-group-stat-width) + var(--gutter-sm)) * 3);
    max-width: 100%;
    margin-top: 0px;

    @mixin min-sm {
      margin-left: auto;
      margin-right: auto;
    }
  }

  & .cp-hero-credits {
    margin-bottom: 4rem;
    z-index: 12; /* in front of overlay */

    &.is-open {
      margin-bottom: 4rem;
    }
  }

  & .cp-hero-img-overlay {
    @mixin overlay-gradient;
    z-index: 11;
  }

  /* comparison mode */
  &:not(:only-child) {
    & .cp-hero-inner {
      margin-bottom: 0;
      & .cp-hero-caption {
        display: block;
      }
    }
  }

}
